#question-status {

}

#question-answer-box {

}

#question-view {

}

#answer-view {

}

#correct-incorrect-status {

}

.container {
  background-color: lightgray;
  width: 1000px;
  height: 800px;
  margin: auto;
}
